<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AAD:Instance" value="https://login.microsoftonline.com/{0}" />
    <add key="AAD:Tenant" value="0575abd7-fffe-4570-ad60-47e243646619" />
    <add key="AAD:ClientId" value="bba9474e-8d6a-437e-8ac3-f1b416cb7f4e" />
    <add key="AAD:ClientSecret" value="j9DOwA[4=NTn84IhemuzCgmNQg=JF@qA" />
  </appSettings>
</configuration>